[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "1.22.3"
pandas = "1.4.2"
requests = "2.27.1"
SciPy = "1.8.0"
Keras = "*"

[dev-packages]

[requires]
python_version = "*"